<p> Here you can find your pending invites:  </p>

<% Invite.all.each do |i| %>


		<% if i.receiver.to_i == current_dev.id and !App.find_by(name: i.app).developers.exists?(current_dev.id) %>

				<%= "The developer " + Developer.find(i.sender).name + " " + Developer.find(i.sender).surname + " wants you to join his developement team for app: " + "'" + i.app + "' " %>
				<%= link_to "View App", controller: 'apps', action: 'show', :id => App.find_by(name: i.app).id %>
				<%= link_to "Accept", controller: 'invites', action: 'accept_invite', :id => App.find_by(name: i.app).id %>
				<%= link_to "Refuse", controller: 'invites', action: 'refuse_invite', :id => App.find_by(name: i.app).id %>


		<% end %>

<% end %>