<% provide(:title, 'Spin up') %>
<h1>Spin up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
  Welcome to Spinup!
  
  FOTO RAFFICA DI PEDGEOTTO!
  
  <p><%= link_to "Spinin", spinin_path %></p>
  
  <p><%= link_to "Spinup", signup_path %></p>
  
  </div>
</div>
