<%= stylesheet_link_tag "application.css" %>

<div id="container">
	<div id="left_side">
		<div class="dropdown">
		<button class="dropbtn"><%=@developer.name + " " + @developer.surname%></button>
			<div class="dropdown-content">
				<a href="#">My Profile</a><br>
				<a href="/apps/new">Create App</a><br>
			</div>
		</div>
	</div>
</div>
