<% provide(:title, @title) %>
	
	<div id="list">
		<h1>YOUR FOLLOWED APPS: </h1>
		<%App.find_each do |app| %>
			<%app.followers.each do |user|%>
				<%if user.id == current_user.id%>
					<%= link_to app.name, app %><br>
				<%end%>
			<%end%>
		<%end%>
		<br>
		<%=link_to "Back", home_path%>
	</div>
