<style>
table, th, td {
    border: 1px solid black;
}
</style>

<br><br><br>

<p> Listing voters </p>

<% if (Developer.find(params[:id]).id != current_dev.id) %>
<table>

			<tr>
				<th> Developer </th>
				<th> Developer Profile </th>
			</tr>
	
	<% Approval.all.each do |v| %>


		<% if (v.voted == params[:id].to_i and v.skill == 'ios') %>
			
			<tr>
				<td> <%= Developer.find(v.voter).name %> </td>
				<td> <%= link_to 'Profile', Developer.find(v.voter)  %> </td>
			</tr>

		<% end %>

	<% end %>

<% end %>

</table>

<% if (Developer.find(params[:id]).id == current_dev.id) %>

<table>

			<tr>
				<th> Developer </th>
				<th> Developer Profile </th>
			</tr>

	<% Approval.all.each do |v| %>

			<% if (Developer.find_by(id: v.voted).id == current_dev.id and v.skill == 'ios') %>

				<tr>
					<td><%= Developer.find(v.voter).name %></td>
					<td><%= link_to 'Profile', Developer.find(v.voter)  %></td>
				</tr>

			<% end %>		
	<% end %>

</table>

<% end %>
