<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followers_app_path(@app) %>">
    <strong id="followers" class="stat"> 
		<%= @app.followers.count %> followers
    </strong>
  </a>
</div>
