<br><br><br>
<p> Listing your apps: </p>


<% App.all.each do |app| %>

	<% if app.developers.exists?(current_dev.id) %>

			<p>
			<%= app.name %>
			<%= link_to "View App", controller: 'apps', action: 'show', :id => app.id %>
			<%= link_to "Modify App", controller: 'apps', action: 'edit', :id => app.id %>
			<% if app.developers.first.id == current_dev.id %>
			<%= link_to "Delete App", app_path(app), method: :delete %>
			<% end %>
			</p>

	<% end %>


<% end %>
