<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "application.css" %>

<div id="container">
	<div class="left_side">
		<div class="dropdown">
			<button class="dropbtn">Dropdown</button>
				<div class="dropdown-content">
					<a href="/apps/edit">App's Settings</a><br>
					<%= link_to 'Back To Home', current_dev %><br>
				</div>
		</div>
	</div>
	<div class="general">
		<div class="photo">
			Qui va inserita la foto
		</div>
		<div class="information">
			<p>
				<strong>Name:</strong>
				<%= @app.name %>
			</p>
	</div>
</div>
