<p> Here you can find known bugs for the app you are looking at: </p>

<% Bug.all.each do |b| %>

		<% if b.app_id == params[:id].to_i %>

			<p><%= "The developer " + Developer.find(b.founder).name + " " + Developer.find(b.founder).surname + " found this: " %>
			<%= b.description %>
			<% if App.find(b.app_id).developers.exists?(current_dev.id) %> 
			<%= link_to "Solved? ", controller: 'bugs', action: 'solved_bug', :bug_id => b.id %>
			</p>
			<% end %>

		<% end %>		

<% end %>



<% if @app.developers.exists?(current_dev.id) %>

		<%= link_to "Submit bug", controller: 'bugs', action: 'submit_bug' %>

	<% end %>