<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @bug.app_id %>
</p>

<p>
  <strong>Founder:</strong>
  <%= @bug.founder %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>