<br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= App.find(@bug.app_id).name %>
</p>

<p>
  <strong>Founder:</strong>
  <%= Developer.find(@bug.founder).name %>
</p>

<p>
  <strong>Your Description:</strong>
  <%= @bug.description %>
</p>